/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/installed
/storage/*.key
/storage/app/cookie_data.csv
/vendor
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
/.fleet
/.idea
/.vscode
